<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meme Hub</title>
    <link rel="stylesheet" href="/static/dist/css/output.css">
    <nav class="flex justify-between bg-black text-white py-4 text-xl shadow-2xl">
        <span class="ml-10 font-bold bg-gradient-to-r from-blue-400 via-purple-400 to-pink-400 text-transparent bg-clip-text animate-gradient">memehub.toxi.ca [BETA]</span>
        <span class="flex justify-between mx-10">
            <a href="/" class="mr-5 {% if request.path == '/' %} text-blue-600 {% else %} hover:text-blue-400 {% endif %}">Home</a>
            <a href="/contact" class="mr-5 {% if request.path == '/contact' %} text-blue-600 {% else %} hover:text-blue-400 {% endif %}">Contact</a>
            {% if isauth %}
                <a href="/logout" class="mr-5 hover:text-blue-400">Logout</a>
            {% else %}
                <a href="/login" class="mr-5 {% if request.path == '/login' %} text-blue-600 {% else %} hover:text-blue-400 {% endif %}">Login</a>
                <a href="/register" class="mr-5 {% if request.path == '/register' %} text-blue-600 {% else %} hover:text-blue-400 {% endif %}">Register</a>
            {% endif %}
        </span>
    </nav>
</head>
<body style="background-image: url('/static/images/sitebg3.png')">
    {% block body %} {% endblock %}
</body>
</html>