{% extends "base.html" %}

{% block body %}
    <div class="flex flex-col items-center justify-center">
        <p class="text-6xl mt-8 font-bold" style="text-shadow: rgb(180, 180, 180) 2px 3px;">Contact Support</p>
        <form id="contact_form" action="/contact/submit">
            <input name="title" placeholder="Title" class="border-2 border-gray-600 mt-8 p-1 rounded-lg" type="text" style="width: 300px;"> <br>
            <textarea placeholder="Enter message here..." class="border-2 border-gray-600 mt-4 p-1 rounded-lg" name="message" form="contact_form" cols="50" rows="10"></textarea>
            <br> <input class="py-2 px-3 mt-3 font-bold text-sm border-gray-600 border-2 rounded-lg" type="submit" value="Submit">
        </form>
    </div>
{% endblock %}