{% extends "base.html" %}

{% block body %}
    <div>
        <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
            <h2 class="mb-4 text-4xl tracking-tight font-bold text-center text-gray-700">Contact Me</h2>
            <p class="font-light text-center text-gray-500 sm:text-xl">If you find a bug, have a question or want to give me feedback, just do it here.</p>
            <form class="space-y-8" method="POST">
                {{ form.hidden_tag() }}
                <div>
                    <label for="subject" class="block mb-2 text-sm font-medium text-gray-900">Subject</label>
                    {{ form.title(class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500", placeholder="Subject of the message...") }}
                </div>
                <div class="sm:col-span-2">
                    <label for="message" class="block mb-2 text-sm font-medium text-gray-900">Your message</label>
                    {{ form.message(class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500", style="resize: none;", rows=6, placeholder="Insert comment here...") }}
                </div>
                {{ form.submit(class="py-3 px-5 text-sm font-medium text-center text-white rounded-lg bg-blue-700 sm:w-fit hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300") }}
            </form>
        </div>
    </div>
{% endblock %}